@media screen and (max-width: 600px) {
    .header-img{
      flex-direction: column;
    }
.gif 
{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
  }


 
  @media only screen and (min-width: 768px) {
.header-img{
         margin-left: 6vh
    }
  }

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
.header-img{
        margin-left: 6vh
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.header-img{
        margin-left: 6vh
   }
} 